@charset "utf-8";
*{
    margin: 0;
    padding: 0;
}

.fundo{
    background-image: linear-gradient(45deg, black, #00E5FF  ); /*#00E5FF, #1200FF)*/
    color: white;
    font-family: 'Times New Roman', Times, serif;
    height: 100vh;
    text-align: center;
}
#resultado{
    border-radius: 5px;
    height: 50px;
    width: 236px;
    margin-bottom: 5px;
    margin-left: 2px;
    font-size: 40px;
    background-color: #353d3ed0;/* rgba(231, 230, 230, 0.301); */
    text-align:end;
    padding: 5px;
}
.calculadora{
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: rgba(0, 0, 0, 0.842);
    transform: translate(-50%,-50%);
    padding: 10px;
    border-radius: 15px;
}
.bt_0C{     /* BOTÕES DO 0 A C */
width: 60px;
height: 60px;
font-size: 25px;
cursor: pointer;
background-color: #353d3ed0;
border: none;
color: white;
}
.bt_0C:hover{
    background-color: #353d3e6e;

}
.caracteres{ /* = + - x*/
    width: 60px;
    height: 60px;
    font-size: 25px;
    cursor: pointer;
    background-color: #00e5ffd6;
    border: none;   
    color: white;
}
.caracteres:hover{
    background-color: #353d3e6e;

}
